<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>View celebrities <a href="/celebrities">here</a></p>
<p>Add a new celebrity <a href="/celebrities/create">here</a></p>

<br/>

<p>View all movies <a href="/movies">here</a></p>
<p>Create a new movie <a href="/movies/create">here</a></p>